/~$chitecture.doc
/Code/.classpath
/Code/.project
/Code/client/.classpath
/Code/client/.project
/Code/server/.project
/Code/server/.classpath
/Code/client/.settings
/Code/server/.settings
/Code/.settings
/Code/.gradle
/Code/bin
